body {
    background-color: #121212;
    font-family: Arial, sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box {
    background: #1e1e1e;
    padding: 40px;
    border-radius: 12px;
    text-align: center;
    width: 350px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.8);
}

h1 {
    color: #4caf50;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
    margin: 10px 0;
}

i {
    color: #00adb5;
}
